.add-book-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    background: white;
}
.form-control {
    border-radius: 12px !important;
}
.textarea-large {
    height: 180px;
    border-radius: 12px !important;
}

#coverPreview {
    height: 100px;
    width: 100px;
}

.img-preview-box {
    cursor: pointer;
    width: 100%;
    height: 420px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #ddd;
    background: #f5f5f5;
    
    display: flex;
    justify-content: center;
    align-items: center;    
}   

#coverPreview.default-plus {
    width: 80px !important;
    height: 80px !important;
    object-fit: contain !important;
}

#coverPreview.uploaded-image {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.img-preview-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-save { background: #28a745; color: white; }
.btn-discard { background: #dc3545; color: white; }
.btn-upload { background: #ffc107; color: black; width: 100%; }

.upload-warning {
    font-size: 16px;
    color: #d9534f;
    font-style: italic;
    margin-left: 3px;
    margin-top: 4px;
}
