.star {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}
.star.filled {
    color: gold;
}

.star-average {
    font-size: 1.5rem;
    color: lightslategray;
    display: inline-block;
    position: relative;
}
.star-average::before {
    content: "★★★★★";
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--rating) / 5 * 100%);
    overflow: hidden;
    white-space: nowrap;
    color: gold;
}
